 body{
    
  /*  background-image: url("../img/bg.jpg"); */

}

.parallax{
    background-attachment: fixed;
    background-position: 40% 40%;

    background-repeat: no-repeat;
    background-size: cover;
}

.image{

    background-image: url("./img/parallex.jpg");
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 300px;
}

.above{

    padding: 300px;
}

 .below{

     padding: 300px;
 }